body {
  font-size: 10px;
  font-family: Lato, sans-serif;
  display: grid;
  grid-gap: 0;
  margin: 0;
}

/* Header DT */

.background-header {
  margin-top: 0;
  max-width: 100%;
  background-color: #2d2f39;
  border-bottom: 6px solid #323746;
}

.header {
  display: grid;
  margin: 0 auto;
  width: 1020px;
}

.hamburger-menu {
  display: none;
}

.layout-2-column {
  display: grid;
  grid-template-columns: 40px 124px 1fr 373px 40px;
  grid-template-rows: 30px 26px 34px;
}

.header__logo {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 24px;
  color: #ffffff;
  align-self: start;
}

h1 > span {
  color: #f06c64;
}

.header__navigation {
  grid-column: 4/5;
  grid-row: 2/3;
  text-decoration: none;
  align-self: end;
}

.header_link {
  text-decoration: none;
  font-size: 11px;
  color: #ffffff;
  padding-right: 0px;
}

.header_link:hover {
  font-size: 11.1px;
  color: #f06c64;
  transition: 0.3s linear;
}

a span {
  font-size: 15px;
  padding: 0 13px 12px;
}

/* Silder DT */

.background-silder {
  max-width: 100%;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.silder {
  display: grid;
  grid-template-columns: 112px 1fr 112px;
  grid-template-rows: 54px 1fr 80px;
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
}

.silder__slide-container-image {
  margin: 0;
  grid-row: 2/3;
  grid-column: 2/3;
}

.silder__content {
  display: grid;
  grid-template-rows: 122px 216px 122px;
  grid-template-columns: 240px 73px 483px;
}

.silder__content_phohe-horizontal {
  grid-row: 2/3;
  grid-column: 3/4;
}

.slider__left-chev {
  margin: 0;
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  padding-top: 27px;
  padding-right: 7px;
}

.slider__right-chev {
  margin: 0;
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  padding-top: 27px;
  padding-left: 17px;
}

/* Services DT */

.background-services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  max-width: 100%;
}

.services {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  display: grid;
  grid-template-columns: 1020px;
  grid-template-rows: 170px 324px;
}

.services__header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 40px 1fr 44px;
  grid-template-rows: 59px 36px 18px 1fr;
}

.services__list {
  grid-row: 2;
}

.services_caption {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
}

.caption_text {
  margin: 0;
  padding: 0;
  grid-row: 4/5;
  grid-column: 2/3;
  font-size: 17px;
  color: #767e9e;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  word-spacing: 4px;
  overflow: hidden;
}

.services__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 300px 20px 300px 20px 300px 1fr;
  grid-template-rows: 30px 107px 17px 107px 1fr;
}

.services__item {
  display: grid;
  grid-template-columns: 60px 20px 220px;
  grid-template-rows: 107px;
}

.services__item1 {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
}

.services__item2 {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 4/5;
}

.services__item3 {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 6/7;
}

.services__item4 {
  margin: 0;
  padding: 0;
  grid-row: 4/5;
  grid-column: 2/3;
}

.services__item5 {
  margin: 0;
  padding: 0;
  grid-row: 4/5;
  grid-column: 4/5;
}

.services__item6 {
  margin: 0;
  padding: 0;
  grid-row: 4/5;
  grid-column: 6/7;
}

.services__item_caption {
  color: #666d89;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
}

.services__item_description {
  margin: 8px 0;
  word-spacing: 1.5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
}

.services__item_text {
  margin: 0;
  grid-column: 3/4;
  color: #767e9e;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  overflow: hidden;
}

.services_img {
  align-self: center;
  padding-bottom: 6px;
  padding-right: 5px;
  width: 62px;
  height: 61px;
}

/* Portfolio DT */

.background-portfolio {
  max-width: 100%;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio {
  margin: 0 auto;
  width: 1020px;
  display: grid;
  grid-template-rows: 60px 95px 27px 13px 1fr 68px;
  grid-template-columns: 40px 960px 40px;
}

.portfolio__buttons {
  margin: 0;
  grid-row: 3/4;
  grid-column: 2/3;
}

.portfolio__header {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: start;
}

.layout-4-column {
  grid-row: 5/6;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 220px 20px 220px 20px 220px 20px 220px;
  grid-template-rows: 187px 20px 187px 20px 187px;
}

.layout-4-column > img:nth-child(n + 13) {
  display: none;
}

.portfolio__caption {
  margin: 0;
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
}

.portfolio__text {
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  margin-top: 16px;
  line-height: 30px;
  word-spacing: 2px;
}

.layout-4-column_img {
  width: 220px;
  height: 187px;
}

.portfolio_img1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.portfolio_img2 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.portfolio_img3 {
  grid-row: 1/2;
  grid-column: 5/6;
}
.portfolio_img4 {
  grid-row: 1/2;
  grid-column: 7/8;
}

.portfolio_img5 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.portfolio_img6 {
  grid-row: 3/4;
  grid-column: 3/4;
}

.portfolio_img7 {
  grid-row: 3/4;
  grid-column: 5/6;
}

.portfolio_img8 {
  grid-row: 3/4;
  grid-column: 7/8;
}

.portfolio_img9 {
  grid-row: 5/6;
  grid-column: 1/2;
}

.portfolio_img10 {
  grid-row: 5/6;
  grid-column: 3/4;
}

.portfolio_img11 {
  grid-row: 5/6;
  grid-column: 5/6;
}

.portfolio_img12 {
  grid-row: 5/6;
  grid-column: 7/8;
}

.image-hide {
  opacity: 0;
  transition: 0.2s;
}

.button {
  font-family: Lato;
  margin-right: 10px;
  height: 22px;
  background: #2d303a;
  color: #767e9e;
  font-size: 12px;
  border: 1px solid #767e9e;
  box-sizing: border-box;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  border: 1px solid #bbbbbb;
  color: #dedede;
  transform: 0.3s;
}

/* Footer DT */

.background-portfolio {
  max-width: 100%;
  background-color: #2d303a;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  display: grid;
  grid-template-columns: 40px 118px 1fr 152px 34px;
  grid-template-rows: 22px 32px 22px;
}

.footer__social-networks {
  margin: 0;
  padding: 0;
  grid-column: 4/5;
  grid-row: 2/3;
  list-style-type: none;
  display: grid;
  grid-template-rows: 32px;
  grid-template-columns: 32px 32px 32px 32px;
  grid-column-gap: 8px;
}

.footer__copyright {
  font-size: 13px;
  color: #666d89;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
}

@media (min-width: 768px) and (max-width: 1019px) {
  /* Header Table */

  .header {
    width: 768px;
  }

  .hamburger-menu {
    display: none;
  }

  .layout-2-column {
    grid-template-columns: 40px 124px 1fr 374px 40px;
    grid-template-rows: 29px 25px 35px;
  }

  .header__burger-block {
    display: none;
  }

  .header_link {
    padding-left: 1px;
  }

  a span {
    padding: 0 11.5px;
  }

  /* Silder Table */

  .silder {
    width: 768px;
    grid-template-columns: 83px 183px 54px 363px;
    grid-template-rows: 41px 345px 60px;
    border-bottom: 5px;
  }

  .silder__content {
    grid-template-rows: 93px 270px;
    grid-template-columns: 180px 55px 363px;
  }

  .silder__content_phohe-vertical {
    width: 180px;
    height: 364px;
  }

  .silder__content_phohe-horizontal {
    width: 364px;
    height: 180px;
  }

  .silder__content_phohe-horizontal {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .slider__right-chev {
    grid-row: 2/3;
    grid-column: 6/7;
    padding-top: 25px;
    padding-left: 20px;
    justify-self: start;
  }

  .slider__left-chev {
    padding-top: 25px;
    padding-right: 10px;
  }

  /* Services Table */

  .background-services {
    border: none;
  }

  .services {
    width: 768px;
    grid-template-columns: 768px;
    grid-template-rows: 193px 480px;
  }

  .services__header {
    grid-template-columns: 40px 1fr 44px;
    grid-template-rows: 39px 36px 18px 1fr;
  }

  .services__list {
    grid-template-columns: 40px 300px 53px 300px 1fr;
    grid-template-rows: 7px 107px 35px 107px 38px 107px 74px;
  }

  .services__item3 {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .services__item4 {
    grid-row: 4/5;
    grid-column: 4/5;
  }

  .services__item5 {
    grid-row: 6/7;
    grid-column: 2/3;
  }
  .services__item6 {
    grid-row: 6/7;
    grid-column: 4/5;
  }

  /* Portfolio Table */

  .portfolio {
    width: 768px;
    grid-template-rows: 61px 125px 28px 23px 800px 59px;
    grid-template-columns: 40px 692px 1fr;
  }

  .portfolio__text {
    word-spacing: 3px;
  }

  .layout-4-column {
    grid-template-columns: 216px 20px 216px 20px 216px;
    grid-template-rows: 183px 20px 183px 20px 183px 20px 183px;
  }

  .layout-4-column > img {
    width: 216px;
    height: 183px;
  }

  .portfolio_img4 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .portfolio_img5 {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  .portfolio_img6 {
    grid-row: 3/4;
    grid-column: 5/6;
  }

  .portfolio_img7 {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .portfolio_img8 {
    grid-row: 5/6;
    grid-column: 3/4;
  }

  .portfolio_img9 {
    grid-row: 5/6;
    grid-column: 5/6;
  }

  .portfolio_img10 {
    grid-row: 7/8;
    grid-column: 1/2;
  }

  .portfolio_img11 {
    grid-row: 7/8;
    grid-column: 3/4;
  }

  .portfolio_img12 {
    grid-row: 7/8;
    grid-column: 5/6;
  }

  /* Footer Table */

  .footer {
    width: 768px;
    grid-template-columns: 40px 118px 1fr 161px 34px;
    grid-template-rows: 22px 32px 22px;
  }

  .footer__copyright {
    margin-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  /* Header Mobile */

  .background-header {
    border-bottom: none;
  }

  .header {
    width: 375px;
    display: grid;
    grid-template-columns: 20px 25px 103px 1fr;
    grid-template-rows: 26px 20px 25px;
    border: none;
  }

  .header__logo {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
  }

  .header__navigation {
    display: none;
  }

  .layout-2-column {
    grid-template-columns: 125px 120px 1fr;
    grid-template-rows: 25px 24px 23px;
  }
  .header__logo {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /* Hamburger-menu Mobile */

  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 23px;
    left: 29px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 168px;
    height: 812px;
    margin: 0;
    padding: 10px 42px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    list-style: none;
    background-color: #2d303a;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__item {
    display: block;
    padding: 12px 15px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    color: #ffffff;
    padding-left: 20px;
  }

  .menu__logo {
    padding: 0 30px 130px 30px;
  }

  .menu__logo > h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    padding: 0;
  }

  h3 > span {
    color: #f06c64;
  }

  .menu__item:hover {
    color: #f06c64;
    transition: 0.3s linear;
  }

  .menu__logo:hover {
    color: #fff;
    transition: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.25s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }

  /* Silder Mobile */

  .background-silder {
    margin-bottom: 0;
  }

  .silder {
    width: 375px;
    grid-template-columns: 40px 89px 26px 178px 41px;
    grid-template-rows: 20px 1fr 17px;
  }

  .silder__content {
    grid-template-rows: 45px 88px 45px;
    grid-template-columns: 79px 36px 177px;
  }

  .silder__content_phohe-vertical {
    width: 88px;
    height: 175.5px;
  }

  .silder__content_phohe-horizontal {
    width: 175.5px;
    height: 88px;
  }

  .silder__content_phohe-horizontal {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .slider__left-chev {
    padding-top: 7px;
    padding-right: 10px;
  }

  .slider__right-chev {
    grid-row: 2/3;
    grid-column: 5/6;
    padding-top: 7px;
    padding-left: 10px;
    justify-self: center;
  }

  /* Services Mobile */

  .background-services {
    border-bottom: none;
  }

  .services {
    width: 375px;
    grid-template-columns: 375px;
    grid-template-rows: 295px 1fr;
    border-bottom: none;
  }

  .services__header {
    grid-template-columns: 29px 1fr 44px;
    grid-template-rows: 26px 35px 18px 212px;
  }

  .services__list {
    grid-template-columns: 29px 300px 42px;
    grid-template-rows: 5px 107px 12px 107px 12px 107px 12px 107px 14px 107px 12px 137px;
  }

  .services__item_caption {
    margin-top: 16px;
  }

  .services__item_description {
    word-spacing: 1px;
  }

  .caption_text {
    line-height: 30px;
    word-spacing: 3px;
  }

  .services__item1 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .services__item2 {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .services__item3 {
    grid-row: 6/7;
    grid-column: 2/3;
  }

  .services__item4 {
    grid-row: 8/9;
    grid-column: 2/3;
  }

  .services__item5 {
    grid-row: 10/11;
    grid-column: 2/3;
  }

  .services__item6 {
    grid-row: 12/13;
    grid-column: 2/3;
  }

  /* Portfolio Mobile */

  .background-portfolio {
    border-bottom: none;
  }

  .portfolio {
    width: 375px;
    grid-template-rows: 42px 160px 22px 25px 1fr;
    grid-template-columns: 30px 1fr 30px;
  }

  .portfolio__text {
    word-spacing: 1.5px;
  }

  .layout-4-column {
    grid-template-columns: 151px 13px 151px;
    grid-template-rows: 128px 14px 128px 14px 128px 14px 128px 39px;
  }

  .layout-4-column > img:nth-child(n + 9) {
    display: none;
  }

  .portfolio_img1 {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 128px;
    width: 151px;
  }

  .portfolio_img2 {
    grid-row: 1/2;
    grid-column: 3/4;
    height: 128px;
    width: 151px;
  }

  .portfolio_img3 {
    grid-row: 3/4;
    grid-column: 1/2;
    height: 128px;
    width: 151px;
  }

  .portfolio_img4 {
    grid-row: 3/4;
    grid-column: 3/4;
    height: 128px;
    width: 151px;
  }

  .portfolio_img5 {
    grid-row: 5/6;
    grid-column: 1/2;
    height: 128px;
    width: 151px;
  }

  .portfolio_img6 {
    grid-row: 5/6;
    grid-column: 3/4;
    height: 128px;
    width: 151px;
  }

  .portfolio_img7 {
    grid-row: 7/8;
    grid-column: 1/2;
    height: 128px;
    width: 151px;
  }

  .portfolio_img8 {
    grid-row: 7/8;
    grid-column: 3/4;
    height: 128px;
    width: 151px;
  }

  .portfolio__buttons {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  /* Footer Mobile */

  .footer {
    width: 375px;
    grid-template-columns: 1fr 152px 1fr;
    grid-template-rows: 22px 32px 22px;
  }

  .footer__social-networks {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer__copyright {
    display: none;
  }
}
